header {
  height: 72px;
  width: 100vw;
  /* background-color: rgba(255,255,255,0.3); */
  position: fixed;
  /* color: #fff; */
  top: 0;
  left: 0;
}

.header-wrapper {
  height: 72px;
  padding: 12px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 40px;
  margin-top: 12px;
  padding: 8px 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 16px;
}

.header-button {
  display: inline-block;
  width: 140px;
  background-color: #F2FAAD;
  margin-left: 12px;
  padding: 8px 20px; 
  line-height: 24px;
  text-align: center;
  border-radius: 11px;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}

.header-button:hover {
  cursor: pointer;
  opacity: 1;  
}
