<%= render "shared/header" %>

<div class="sign">
  <div class="unsubscribe-mein">
    <div class="sign-logo">
      <h2>退会お手続き</h2>
    </div>
    <p class="unsubscribe-logo">
      本当に退会してよろしいですか？
    </p>
    <div class="unsubscribe-link">
      <div class="unsubscribe-link-nav">
        <%= link_to "退会する", withdrawal_path, data: { turbo_method: :patch },class: "unsubscribe-link-button" %>
      </div>
      <div class="unsubscribe-link-nav">
        <%= link_to "退会しない", user_path(current_user.id),class: "unsubscribe-link-button" %>  </div>
      </div>
    </div>
  </div>
</div>