<div class="side_bar">
  <div class="side-bar-title">
    <p>お気に入り登録ラジオ番組</p>
  </div>
  <div class="favorite-radios">
    <div class="favorite-radio">
      <a href="#" class="favorite-radio-name">
        <p class="broadcaster">放送局名</p>
        <p class="radio-program">ラジオ番組名</p>
      </a>
    </div>
  </div>
</div>