<%= render "shared/header" %>

<div class="radio-main">
  <div class="radio-show">
    <h2 class="radio-header">
      ラジオを愛するリスナーのためのスペース<br>
      ラジオを楽しもう！
    </h2>
    <div class="radio-choice">
      <%= link_to "ラジオチャットルームを探す", new_radio_path, class: "radio-chatroom-button" %>
    </div>
    </div>
  </div>
</div>