<%= render "shared/header" %>

<div class="radio-main">
  <div class="radio-show">
    <h2 class="radio-header">
      ラジオを愛するリスナーのためのスペース<br>
      ラジオを楽しもう！
    </h2>
    <div class="radio-choice">
      <h2>
        ラジオ番組のチャットルームを探そう
      </h2>
      <p>
        地域・放送局・曜日・ラジオ番組を選択してください
      </p>
      <div class="choice-nav">
        <select name="nav" id="">
          <option value="">地域</option>
        </select>
        <select name="nav" id="">
          <option value="">放送局</option>
        </select>
        <select name="nav" id="">
          <option value="">曜日</option>
        </select>
        <select name="nav" id="">
          <option value="">ラジオ番組名</option>
        </select>
        <a href="#" class="choice-button">
          チャットルームに行こう！
        </a>
      </div>
    </div>
  </div>
</div>