<%= render "shared/header" %>

<div class="radio-main">
  <div class="radio-main-content">
    <div class="radio-show">
      <h2 class="radio-header">
        チャットでラジオを盛り上げ、<br>新しい友達を見つけよう。
      </h2>
      <div class="radio-choice">
        <%= link_to "チャットルームを探す", new_radio_path, class: "radio-chatroom-button" %>
      </div>
      </div>
    </div>
  </div>
</div>