.radio-main {
  height: calc(100vh - 72px);
  width: 100vw;
}

.radio-show {
  width: 650px;
  margin: 192px auto 0px;
  text-align: center;
}

.radio-header {
  font-weight: 600;
  font-size: 32px;
}

.radio-choice {
  margin-top: 60px;
}

.radio-choice h2 {
  font-size: 24px;
  font-weight: 600;
}

.radio-choice p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
}


.choice-nav {
  width: 400px;
  margin: 12px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: block;
  margin-top: 12px;
}

.choice-button {
  margin-top: 12px;
  display: block;
  line-height: 32px;
  width: 240px;
  background-color: #ccc;
}
