.radio-main {
  height: calc(100vh - 72px);
  width: 100vw;
}

.radio-show {
  width: 650px;
  margin: 192px auto 0px;
  text-align: center;
}

.radio-header {
  font-weight: 600;
  font-size: 32px;
}

.radio-choice {
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
}

.radio-chatroom-button {  
  line-height: 32px;
  width: 240px;
  background-color: #ccc;
}
